<div class="container text-center">
  
  <h1>Thank you for Subscribing</h1>
  <h2>You can find your gift in your email-inbox!</h2>
  
  <h3>You are welcome to download other free gifts!</h3>

  <div class="input-prepend text-center">
    <a href="/freeproducts"><input type="submit" value="View other gifts" class="btn btn-lg btn-warning text-center"/></a>
  <div class="input-prepend text-center">
  <br>
  <h3>View our Promoted Products!</h3>
    <a href="/products"><input type="submit" value="View all products" class="btn btn-lg btn-warning text-center"/></a>
  </div>
  
  </div>
  
  
  
  <div class="sub-copy">
  <p><small>Copyright © 1998-<script>document.write((new Date()).getFullYear());</script>2016. All rights reserved. Reproduction strictly prohibited.</small></p><p><a href="http://www.aweber.com/antispam.htm">No Spam Policy</a> &amp; 
  <a href="http://www.aweber.com/privacy.htm">Privacy Policy</a>
  </p>
  </div>
  
  

</div>