<div style="background-color: rgb(255, 255, 255);">
<table align="center" bgcolor="#000000" border="0" cellpadding="15" cellspacing="1" width="600">

  <tbody>
    <tr>
      <td class="style1" bgcolor="#ffffff">
      <p class="style2" align="center">"Get All The Support And
Guidance You Need To&nbsp; Finally Boost Your Business
Over The Top Wit The Right Business Plan!" </p>
      <p class="style3" align="center">How to create the perfect business plan and save years of frustration!</p>
Keep reading to get the help you need…
      <p class="style1"><strong>From:</strong> <span class="style4">Solo Shoppers Team!</span><br />
      
      <br />
      <strong><span class="style5">D</span>ear Friend,</strong></p>
Is that fact that you don't have the right knowledge or tools to put together a correct and complete business plan making
your business difficult... maybe even
your life less successful than you would like?<br />
      <br />Does
it seem like you’ve tried everything you know of and pored through all
the available information to get a business plan together,
and yet, despite your best intentions, you’re still plagued with: <br />
      <br />
•&nbsp;&nbsp;&nbsp; Not knowing anything about an executive summary<br />
•&nbsp;&nbsp;&nbsp; Not understanding even where to start with a mission statement<br />
•&nbsp;&nbsp;&nbsp; Not knowing how stop the repeating problems that come with a bad business plan<br />
      <br />
If this describes you, listen up..<br />
      <br />A
business plan is guidance, an important assistant for anyone who starts
or runs a business. Business plans may consume some time to make them,
but in the long term, you may save much time and cash flow. <br />
      <br />You may need a business plan to apply for bank loans or getting investors for financial support. <br />
      <br />
      <p class="style8" align="center">To Build Your Business It Is
Crucial That You Have The Correct Info And Tools And Learn How To Build A Correct Business Plan!"</p>
      <p class="style1"><strong>This is one area you must pay attention
to…</strong> <br />
      </p>There
are many areas of a business plan that you may not know about but need
to know about. For instance... you may have no idea about an executive
summary. Executive summary is an introduction or an overview of a
business plan. Executive summary gives the impression of the overall
business plan. A business plan begins with the table of contents,
followed by an executive summary. Even so, an executive summary should
be the last paper you write as it summarizes the business plan
according to the outline. <br />
      <br />You may be scratching your head about now.<br />
      <p class="style1">Make no mistake about it... </p>
      <p class="style1" align="center"><span class="style8">"The Costs
of NOT Having This Information Are Just Too High For The Success Of Your Business!"</span></p>
      <p class="style1" align="left">Your lack of knowledge in how to write a&nbsp; business plan may not be
your fault, but that doesn’t mean that you shouldn’t -- or can’t -- do
anything to gain the knowledge that you need. <br />
      <br />
The costs of continuing to repeat the same mistakes with your business are just too
steep...<br />
      <br />
I mean, think about all of the money you’re wasting because of repeating the same mistakes over and over costs money... the time
you’re losing due to repeating errors is also time-consuming... <br />
      <br />
So today -- in the next FEW MINUTES, in fact -- we’re going to help you
STOP making the same mistakes, and learn how you can quickly and easily
get your business plan under control... for GOOD!<br />
      </p>
      <p class="style1" align="left">That is why I've written
this book...</p>
      <p class="style1" align="center"><span class="style8">"This Book
Below Will Show You Exactly What What You Need To Do To Get The Most
Out Of Your Business Plan!"</span></p>
As a person just like you who has struggled with getting a business plan in order, I have searched high and low to find the best
strategies and information on how to put a business plan together and I am fully qualified and equipped to help
you put
an end to the lack of knowledge and give you the tools to finally put a good business plan together!<br />
      <br />
Another
of the many thuings you need to know about is a mission statement. A
mission statement is a statement of the business's purpose. Mission
statements generally should be short and clear, thus easier for people
associating with the business to keep that mission in mind and do what
is best to achieve it.<br />
      <br />
      <p class="style1" align="left">Are you ready?</p>
      <p class="style10" align="center"><span class="style11">"Introducing…</span>
The Business Brains!<span class="style11">"</span></p>
      <p class="style1" align="center"><img style="width: 300px; height: 393px;" alt="" src="assets/BusinessBrain-softbackSml.jpg" />&nbsp;</p>
      <p class="style1">This powerful tool will provide you with
everything you need to know to be a success and achieve your&nbsp;goal
of a great business plan. <br />
      </p>
      <p class="style1"><br />
      </p>
      <p class="style1"> </p>
      <span style="font-family: Tahoma;">&nbsp;</span>
      <p class="style1" align="center"><span class="style8">Who Can Use
This Book?</span></p>
      <p class="style17">- Internet marketers</p>
      <p class="style17">- Network marketers</p>
      <p class="style17">- Life Coaches</p>
      <p class="style17">- Personal Development Enthusiasts</p>
      <p class="style17">- Self Improvement Bloggers</p>
      <p class="style17">- Web Publishers</p>
      <p class="style17">- Writers and Content Creators</p>
      <p class="style17">And Many More!</p>
      <p class="style8" align="center">In This Book, You Will Learn: </p>
      <table align="center" border="0" cellpadding="10" cellspacing="0" width="500">
        <tbody>
          <tr>
            <td class="style1"> <img src="assets/tick.gif" alt="tick" height="22" width="22" /></td>
            <td class="style1"><strong>Business Plan Basics&nbsp;</strong><strong /></td>
          </tr>
          <tr>
            <td class="style1"> <img src="assets/tick.gif" alt="tick" height="22" width="22" /></td>
            <td class="style1"><span class="style210">The Executive Summary<br />
            </span></td>
          </tr>
          <tr>
            <td style="font-weight: bold;" class="style1"> <img src="assets/tick.gif" alt="tick" height="22" width="22" /></td>
            <td style="font-weight: bold;" class="style1">The Mission Statement&nbsp;<strong /></td>
          </tr>
          <tr>
            <td class="style1"> <img src="assets/tick.gif" alt="tick" height="22" width="22" /></td>
            <td class="style1">Exploring Financial Needs </td>
          </tr>
          <tr>
            <td class="style1"> <img src="assets/tick.gif" alt="tick" height="22" width="22" /></td>
            <td class="style1"><strong>Evaluating Competition </strong></td>
          </tr>
          <tr>
            <td class="style1"> <img src="assets/tick.gif" alt="tick" height="22" width="22" /></td>
            <td class="style1">And so much more!</td>
          </tr>
        </tbody>
      </table>
      <p class="style8" align="center">"Why It Is Very Important For
You To Download This Book Right Now..."</p>
You will get lots of knowledge. Take this knowledge, use it to your
advantage and you're on the road to improving your business.
     
      <p class="style1">Understand that you could really be missing out
on tremendous success.</p>
      <p class="style1">Don't let anything stand in the
way between you and your success with getting your business plan under control.</p>
      <p class="style1">You see, how much longer must people learn
the HARD WAY before investing in themselves and their success?</p>
      <p class="style1">Think about how much you could change your business
if you really applied the strategies in this book. You could be a
success in your business in a short period of time.</p>
      <p class="style1">I cannot even begin to imagine someone who
would not take advantage of this - it's just stupid!</p>
      <p class="style1">Thankfully, you are a sharp person... otherwise
you wouldn't be looking for a way to better the way your business runs.</p>
      <p class="style1">And to show my sincerity, I'll show you
something that will definitely sweeten the deal...</p>
      <p class="style8" align="center">"Get this... it's yours for FREE"</p>
      <p class="style1">This book could be the most important book you
will ever read. Make no mistake about it because if you
do not equip yourself with the right knowledge, you will get into a LOT
of trouble and waste tons of money (even more than the price of this
book by 10 to a hundred times, in fact!)<br />
      </p>
      
      <p class="style1"><strong>And… if you are not convinced, here is
an insane guarantee for you:-</strong> </p>
      <table align="center" border="0" cellpadding="10" cellspacing="0" width="550">
        <tbody>
          <tr>
            <td class="style1"> <img src="assets/guaranteed.gif" alt="100% Satisfacction Guaranteed" height="100" width="100" /></td>
            <td class="style1">
            <div align="center"><span class="style14">"Your Download Is
Backed By My 100% Iron-Solid, Satisfaction Guarantee!"</span></div>
            </td>
          </tr>
        </tbody>
      </table>
      <br />
      <table align="center" bgcolor="#000000" border="0" cellpadding="10" cellspacing="1" width="500">
        <tbody>
          <tr>
            <td class="style1" bgcolor="#ffff99">
            <p>That's right. You can test drive this product for a <strong>full
30 days</strong> after your Download to check out this product to see
if it is for you. </p>
            <p> Read it. Absorb. Apply it to your life.
Observe the results. <br />
            </p>
            <p>If for any reason at all, you're not satisfied with this
product whatsoever, just contact me, let me know why. After all, I am here for you!</p>
            <strong>YOU CANNOT LOSE.</strong></td>
          </tr>
        </tbody>
      </table>
      <p class="style8" align="center">"Grab Your Copy Today, Even If
It Is 2 A.M. In The Morning!"</p>
      <p class="style1" align="center"><strong>Download A Copy For </strong>FREE<br />
      </p>



<!-- AWeber Web Form Generator 3.0.1 -->
<style type="text/css">
#af-form-1814674761 .af-body .af-textWrap{width:98%;display:block;float:none;}
#af-form-1814674761 .af-body .privacyPolicy{color:#FFFFFF;font-size:11px;font-family:Verdana, sans-serif;}
#af-form-1814674761 .af-body a{color:#EDA200;text-decoration:underline;font-style:normal;font-weight:normal;}
#af-form-1814674761 .af-body input.text, #af-form-1814674761 .af-body textarea{background-color:#FFFFFF;border-color:#919191;border-width:1px;border-style:solid;color:#000000;text-decoration:none;font-style:normal;font-weight:normal;font-size:12px;font-family:Verdana, sans-serif;}
#af-form-1814674761 .af-body input.text:focus, #af-form-1814674761 .af-body textarea:focus{background-color:#FFFAD6;border-color:#030303;border-width:1px;border-style:solid;}
#af-form-1814674761 .af-body label.previewLabel{display:block;float:none;text-align:left;width:auto;color:#FFFFFF;text-decoration:none;font-style:normal;font-weight:normal;font-size:11px;font-family:Verdana, sans-serif;}
#af-form-1814674761 .af-body{padding-bottom:15px;padding-top:15px;background-repeat:repeat-x;background-position:inherit;background-image:url("//forms.aweber.com/images/forms/download/peel/body.png");color:#FFFFFF;font-size:11px;font-family:Verdana, sans-serif;}
#af-form-1814674761 .af-quirksMode{padding-right:10px;padding-left:10px;}
#af-form-1814674761 .af-standards .af-element{padding-right:10px;padding-left:10px;}
#af-form-1814674761 .buttonContainer input.submit{background-image:url("https://forms.aweber.com/images/auto/gradient/button/07c.png");background-position:top left;background-repeat:repeat-x;background-color:#0057ac;border:1px solid #0057ac;color:#FFFFFF;text-decoration:none;font-style:normal;font-weight:normal;font-size:14px;font-family:Verdana, sans-serif;}
#af-form-1814674761 .buttonContainer input.submit{width:auto;}
#af-form-1814674761 .buttonContainer{text-align:left;}
#af-form-1814674761 button,#af-form-1814674761 input,#af-form-1814674761 submit,#af-form-1814674761 textarea,#af-form-1814674761 select,#af-form-1814674761 label,#af-form-1814674761 optgroup,#af-form-1814674761 option{float:none;position:static;margin:0;}
#af-form-1814674761 div{margin:0;}
#af-form-1814674761 form,#af-form-1814674761 textarea,.af-form-wrapper,.af-form-close-button,#af-form-1814674761 img{float:none;color:inherit;position:static;background-color:none;border:none;margin:0;padding:0;}
#af-form-1814674761 input,#af-form-1814674761 button,#af-form-1814674761 textarea,#af-form-1814674761 select{font-size:100%;}
#af-form-1814674761 select,#af-form-1814674761 label,#af-form-1814674761 optgroup,#af-form-1814674761 option{padding:0;}
#af-form-1814674761,#af-form-1814674761 .quirksMode{width:100%;max-width:393.181818px;}
#af-form-1814674761.af-quirksMode{overflow-x:hidden;}
#af-form-1814674761{background-color:transparent;border-color:transparent;border-width:1px;border-style:solid;}
#af-form-1814674761{display:block;}
#af-form-1814674761{overflow:hidden;}
.af-body .af-textWrap{text-align:left;}
.af-body input.image{border:none!important;}
.af-body input.submit,.af-body input.image,.af-form .af-element input.button{float:none!important;}
.af-body input.text{width:100%;float:none;padding:2px!important;}
.af-body.af-standards input.submit{padding:4px 12px;}
.af-clear{clear:both;}
.af-element label{text-align:left;display:block;float:left;}
.af-element{padding-bottom:5px;padding-top:5px;}
.af-form-wrapper{text-indent:0;}
.af-form{text-align:left;margin:auto;}
.af-quirksMode .af-element{padding-left:0!important;padding-right:0!important;}
.lbl-right .af-element label{text-align:right;}
body {
}
</style>
<form method="post" class="af-form-wrapper" accept-charset="UTF-8" action="https://www.aweber.com/scripts/addlead.pl"  >
<div style="display: none;">
<input type="hidden" name="meta_web_form_id" value="1814674761" />
<input type="hidden" name="meta_split_id" value="" />
<input type="hidden" name="listname" value="awlist4188742" />
<input type="hidden" name="redirect" value="http://www.soloshoppers.ca/thankyou" id="redirect_5c7c4c65462b85ea686fc2913dd27d4a" />

<input type="hidden" name="meta_adtracking" value="My_Web_Form" />
<input type="hidden" name="meta_message" value="1" />
<input type="hidden" name="meta_required" value="name,email" />

<input type="hidden" name="meta_tooltip" value="" />
</div>
<div id="af-form-1814674761" class="af-form"><div id="af-body-1814674761" class="af-body af-standards">
<div class="af-element" style="text-align: Center;">
<img src="https://hostedimages-cdn.aweber-static.com/MTAyNjM3OA==/original/730b331d19084977ab9f37aeddad617f.png" alt="new-logo.png" style="max-width:100%;" />
<div class="af-clear"></div>
</div>
<div class="af-element">
<label class="previewLabel" for="awf_field-80522244">Name: </label>
<div class="af-textWrap">
<input id="awf_field-80522244" type="text" name="name" class="text" value=""  onfocus=" if (this.value == '') { this.value = ''; }" onblur="if (this.value == '') { this.value='';} " tabindex="500" />
</div>
<div class="af-clear"></div></div>
<div class="af-element">
<label class="previewLabel" for="awf_field-80522245">Email: </label>
<div class="af-textWrap"><input class="text" id="awf_field-80522245" type="text" name="email" value="" tabindex="501" onfocus=" if (this.value == '') { this.value = ''; }" onblur="if (this.value == '') { this.value='';} " />
</div><div class="af-clear"></div>
</div>
<div class="af-element buttonContainer">
<input name="submit" class="submit" type="submit" value="Download Now!" tabindex="502" />
<div class="af-clear"></div>
</div>
<div class="af-element privacyPolicy" style="text-align: center"><p>We respect your <a title="Privacy Policy" href="https://www.aweber.com/permission.htm" target="_blank" rel="nofollow">email privacy</a></p>
<div class="af-clear"></div>
</div>
<div class="af-element poweredBy" style="text-align: center; font-size: 9px;"><p><a href="https://www.aweber.com" title="AWeber Email Marketing" target="_blank" rel="nofollow">Powered by AWeber Email Marketing</a></p>
<div class="af-clear"></div>
</div>
</div>
</div>
<div style="display: none;"><img src="https://forms.aweber.com/form/displays.htm?id=jByMLGzsLOxsjA==" alt="" /></div>
</form>
<script type="text/javascript">
    <!--
    (function() {
        var IE = /*@cc_on!@*/false;
        if (!IE) { return; }
        if (document.compatMode && document.compatMode == 'BackCompat') {
            if (document.getElementById("af-form-1814674761")) {
                document.getElementById("af-form-1814674761").className = 'af-form af-quirksMode';
            }
            if (document.getElementById("af-body-1814674761")) {
                document.getElementById("af-body-1814674761").className = "af-body inline af-quirksMode";
            }
            if (document.getElementById("af-header-1814674761")) {
                document.getElementById("af-header-1814674761").className = "af-header af-quirksMode";
            }
            if (document.getElementById("af-footer-1814674761")) {
                document.getElementById("af-footer-1814674761").className = "af-footer af-quirksMode";
            }
        }
    })();
    -->
</script>

<!-- /AWeber Web Form Generator 3.0.1 -->








      <p class="style1"><strong>Warm Regards,<br />
      <span class="style4">Solo Shoppers Team</span></strong> <br />
      </p>
      <p class="style1"><span class="style15">P.S.</span> <strong>Remember</strong>:
      <span class="style16">your Download is backed by my</span> <span class="style11"><strong>100% satisfaction guarantee</strong>.</span>
      <span class="style16">You have nothing to lose except a chance to
try it out for yourself!</span></p>
      <p class="style1"><span class="style15">P.S.S.</span> <strong>You've
got nothing to lose in this investment. You will only miss 100% of the
shots you don't take. Don't make the same mistake of those who close
this page and miss out on a tremendous opportunity!</strong></p>
      </td>
    </tr>
  </tbody>
</table>



  <style type="text/css">
<!--
.style1 {
  font-family: Tahoma;
  font-size: 16;
}
.style2 {
  font-family: Impact;
  font-size: 32px;
  color: #FF0000;
}
.style3 {
  font-family: Tahoma;
  font-size: 18px;
  font-weight: bold;
}
.style4 {color: #FF00FF}
.style5 {font-size: 36px}
.style8 {
  font-family: Tahoma;
  font-size: 24px;
  font-weight: bold;
  color: #FF0000;
}
.style9 {
  font-family: Tahoma;
  font-size: 16px;
}
.style10 {
  font-family: Tahoma;
  font-size: 24px;
  font-weight: bold;
}
.style11 {color: #FF0000}
.style14 {
  color: #FF0000;
  font-size: 24px;
  font-weight: bold;
}
.style15 {
  font-size: 24px;
  font-weight: bold;
}
.style16 {font-family: Tahoma; font-size: 16px; background-color: #FFFF00;}
body {
  background-color: #000033;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.style17 {font-family: Tahoma; font-size: 16; font-weight: bold; }
-->
  </style>
</div>