
<style type="text/css">
<!--
.style2 { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 32px;
  color: #FF0000;
}
.style1 { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.style9 { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.style14 {  color: #FF0000;
  font-size: 24px;
  font-weight: bold;
}
.style16 {font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 14px; }

h1, h2, h3, h4 {
  letter-spacing: -1; 
  font-weight: bold;
  text-align: center;
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
.style18 {color: #FF0000; font-weight: bold; }
.style6 {color: #000000;
  font-size: 20px;
  font-weight: bold;
}
.style7 { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  color: #ff0000;
  font-size: 36px;
  font-weight: bold;
}
.style42 {
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.style43 {  font-family: Tahoma;
  font-size: 16;
}
.style63 {
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.style65 {  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.style66 {
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.style67 {
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
}
-->
</style>
<div style="width:700px; border: solid 1px #999999; margin-left:auto; margin-right:auto; padding:30px; border-radius: 5px; box-shadow: 5px 5px 5px #888888; ">
  <div align="center"><img src="assets/the 21st_header.png" /></div>
  <p align="center" class="style2"><span class="style18"><img src="assets/headline.png"></span></p>
  <p class="style1"><strong>Dear Friend,</strong></p>
  <p class="style67">Of the closely 350 million individuals living in 
    North America, seventy-four percent of these are net users. So it’s 
    not surprising that this mighty, universal medium for info 
    consumption, networking and commerce has likewise emerged as among the 
    most crucial elements in almost every business toolkit.</p>
  <p class="style67">    However for many home business owners, the net is more than tool - 
    it’s a lifeline that has helped them live and prosper through the 
    current economic climate. <br />
  &nbsp;Many people have never 
    heard if this and have no idea how to go about figuring out where they 
    are or how to change it. <br />
    <br />
    Is this true for you? Then please continue on as you need to discover 
    the secrets that will help you make a success out of your home 
  business today! </p>
  <p class="style67">The truth is:</p>
  <p align="center" class="style67"><span class="style18"><img src="assets/1.png" /></span></p>
  <p class="style67">You know why most people have a tendency to not 
    achieve the success they desire in their business and overall life? 
    It&#39;s because they don&#39;t know that E-mail marketing is simple, fast and 
    cost-effective when it comes to engaging buyers and making sales. The 
    most crucial thing you&#39;ll need to do is formulate a message that you 
    want to send out. If the buyers or audience you want to pull in can’t 
    quickly find the info they want they&#39;ll unsubscribe from your list if 
    you have one or simply delete the mail when it arrives in their inbox.<br />
  </p>
  <p class="style67">Which brings us to a very important aspect I must talk about here:</p>
  <p align="center" class="style67"><span class="style18"><img src="assets/2.png" /></span></p>
  <p class="style67">People who struggle in business and 
           
          life will find these 
  things in common: </p>
  <ul class="style67">
    <li>They don't know the 1st steps.</li>
    <li>They have no idea how to use video.</li>
    <li>They are struggling with using social networks.</li>
    <li>They also don't understand back links!</li>
    <li>Many more problems untold…</li>
  </ul>
  <p class="style67">Well don&#39;t worry…<br />
  </p>
  <p class="style65"><span class="style67">With the strategies that I’m about to let you in on 
    , you will have no problems when it comes to <font style="font-size: 13pt">learning the truth behind 
      making a success of your home business!</font><font style="font-size: 13pt"></font></span></p>
  <p class="style43" align="left"><span class="style6">Introducing…</span><br />
  </p>
  <p align="center" class="style16"><span class="style7">“The 21st Century Home Business Shift”</span><br />
  </p>
  <p align="center" class="style9"><span class="style42"><img src="assets/the 21st_3d.png" width="300px" height="429px" /></span></p>
  <p align="center" class="style63"><img src="assets/4.png" /></p>
  <p class="style63">Let’s face it…Twitter this, twitter that, but you 
    truly need a social networking account. Having an account is 
    essentially like having a brief blog. You are able to post links to 
    your site and keep past and future clients aware of what you have 
    going on. Let alone that Google loves social networking and indexes 
    your posts really easily and free of charge! Also make certain to put 
    a link on your site. This is a great two-way link and will help 
    constructing your rank on Google..</p>
  <p class="style66">That is why is it very important for you to realize the value of what I’m offering.<br />
  </p>
  <p class="style66">The price I’m charging for this book is minimal when you consider the fact that you can use just one of these strategies to make your money back 10-15 times over.<br />
  </p>
  <p class="style66">Remember that if you fail to take action today, things will not get better… at least not immediately.<br />
  </p>
  <p class="style66">So make sure you take action and get a copy of this book right away!</p>
  <table width="550" border="0" align="center" cellpadding="10" cellspacing="0">
    <tr>
      <td class="style1"><img src="assets/GuaranteeBadge.png" alt="100% Satisfacction Guaranteed" /></td>
      <td class="style1"><div align="center"><span class="style14">&quot;Your Purchase Is Backed By My 100% Iron-Solid, Satisfaction Money  Back Guarantee!&quot;</span></div></td>
    </tr>
  </table>
  <br />
  <table width="500" border="0" align="center" cellpadding="10" cellspacing="1" bgcolor="#000000">
    <tr>
      <td bgcolor="#FFFF99" class="style1"><p>That's right. You can test drive  these products for a <strong>full  90 days</strong> after your purchase to check out  this product to see if it are for you. </p>
          <p> Read it. Absorb. Apply it to your  existing business. Observe the results. <br />
          </p>
        <p>If for any reason at all, you're not  satisfied with this product whatsoever, just contact me, let me know why, and  I'll refund your purchase, provided you delete the copy off your hard drive. </p>
      <strong>YOU  CANNOT LOSE.</strong></td>
    </tr>
  </table>
  <p align="center" class="style1"><strong>Purchase A Copy Of &quot;The 21st Century Home Business Shift&quot; For Only $27.00</strong> <br />
  </p>
  <p align="center" class="style1"><img src="assets/addtocart.png" alt=/> </p>
  <p class="style1"><strong>Warm  Regards,</strong></p>
  <p class="style1">If you are still sitting on the fence, don&#39;t worry about a single 
    thing. All you need to do is TAKE ACTION - don&#39;t sit around and wonder 
    WHAT IF… just give it a try, after all, you are backed by our 
    GUARANTEE so the risk is ALL ON US!</p>
  <p class="style1"><strong>P.S.</strong> Remember, for this low price, you can 
    immediately make 10-15 times the sum of your investment… so don’t 
    hesitate and grab a copy right away!</p>
  <p class="style1"><strong>P.P.S</strong>&nbsp; Today&#39;s network marketing is no 
    longer the same in the past. If you do not arm yourselves with the 
    right tools to expand your home business, you will not be able to rise 
    to the top of network marketing so make sure you grab this package 
    before your competitors do. </p>
</div>