
<style type="text/css">
<!--
.style2 { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 32px;
  color: #FF0000;
}
.style1 { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.style9 { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.style14 {  color: #FF0000;
  font-size: 24px;
  font-weight: bold;
}
.style16 {font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 14px; }

h1, h2, h3, h4 {
  letter-spacing: -1; 
  font-weight: bold;
  text-align: center;
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
.style18 {color: #FF0000; font-weight: bold; }
.style6 {color: #000000;
  font-size: 20px;
  font-weight: bold;
}
.style7 { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  color: #ff0000;
  font-size: 36px;
  font-weight: bold;
}
.style42 {
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.style43 {  font-family: Tahoma;
  font-size: 16;
}
.style63 {
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.style65 {  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.style66 {
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.style67 {
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
}
-->
</style>
<div style="width:700px; border: solid 1px #999999; margin-left:auto; margin-right:auto; padding:30px; border-radius: 5px; box-shadow: 5px 5px 5px #888888; ">
  <div align="center"><img src="assets/the 21st_header.png" /></div>
  <p align="center" class="style2"><span class="style18"><img src="assets/headline.png"></span></p>
  <p class="style1"><strong>Dear Friend,</strong></p>
  <p class="style67">Of the closely 350 million individuals living in 
    North America, seventy-four percent of these are net users. So it’s 
    not surprising that this mighty, universal medium for info 
    consumption, networking and commerce has likewise emerged as among the 
    most crucial elements in almost every business toolkit.</p>
  <p class="style67">    However for many home business owners, the net is more than tool - 
    it’s a lifeline that has helped them live and prosper through the 
    current economic climate. <br />
  &nbsp;Many people have never 
    heard if this and have no idea how to go about figuring out where they 
    are or how to change it. <br />
    <br />
    Is this true for you? Then please continue on as you need to discover 
    the secrets that will help you make a success out of your home 
  business today! </p>
  <p class="style67">The truth is:</p>
  <p align="center" class="style67"><span class="style18"><img src="assets/1.png" /></span></p>
  <p class="style67">You know why most people have a tendency to not 
    achieve the success they desire in their business and overall life? 
    It&#39;s because they don&#39;t know that E-mail marketing is simple, fast and 
    cost-effective when it comes to engaging buyers and making sales. The 
    most crucial thing you&#39;ll need to do is formulate a message that you 
    want to send out. If the buyers or audience you want to pull in can’t 
    quickly find the info they want they&#39;ll unsubscribe from your list if 
    you have one or simply delete the mail when it arrives in their inbox.<br />
  </p>
  <p class="style67">Which brings us to a very important aspect I must talk about here:</p>
  <p align="center" class="style67"><span class="style18"><img src="assets/2.png" /></span></p>
  <p class="style67">People who struggle in business and 
           
          life will find these 
  things in common: </p>
  <ul class="style67">
    <li>They don't know the 1st steps.</li>
    <li>They have no idea how to use video.</li>
    <li>They are struggling with using social networks.</li>
    <li>They also don't understand back links!</li>
    <li>Many more problems untold…</li>
  </ul>
  <p class="style67">Well don&#39;t worry…<br />
  </p>
  <p class="style65"><span class="style67">With the strategies that I’m about to let you in on 
    , you will have no problems when it comes to <font style="font-size: 13pt">learning the truth behind 
      making a success of your home business!</font><font style="font-size: 13pt"></font></span></p>
  <p class="style43" align="left"><span class="style6">Introducing…</span><br />
  </p>
  <p align="center" class="style16"><span class="style7">“The 21st Century Home Business Shift”</span><br />
  </p>
  <p align="center" class="style9"><span class="style42"><img src="assets/the 21st_3d.png" width="300px" height="429px" /></span></p>
  <p align="center" class="style63"><img src="assets/4.png" /></p>
  <p class="style63">Let’s face it…Twitter this, twitter that, but you 
    truly need a social networking account. Having an account is 
    essentially like having a brief blog. You are able to post links to 
    your site and keep past and future clients aware of what you have 
    going on. Let alone that Google loves social networking and indexes 
    your posts really easily and free of charge! Also make certain to put 
    a link on your site. This is a great two-way link and will help 
    constructing your rank on Google..</p>
  <p class="style66">That is why is it very important for you to realize the value of what I’m offering.<br />
  </p>
  <p class="style66">The price I’m charging for this book is minimal when you consider the fact that you can use just one of these strategies to make your money back 10-15 times over.<br />
  </p>
  <p class="style66">Remember that if you fail to take action today, things will not get better… at least not immediately.<br />
  </p>
  <p class="style66">So make sure you take action and get a copy of this book right away!</p>
  <table width="550" border="0" align="center" cellpadding="10" cellspacing="0">
    <tr>
      <td class="style1"><img src="assets/GuaranteeBadge.png" alt="100% Satisfacction Guaranteed" /></td>
      <td class="style1"><div align="center"><span class="style14">&quot;Your Download Is Backed By My 100% Iron-Solid, Satisfaction Guarantee!&quot;</span></div></td>
    </tr>
  </table>
  <br />
  <table width="500" border="0" align="center" cellpadding="10" cellspacing="1" bgcolor="#000000">
    <tr>
      <td bgcolor="#FFFF99" class="style1"><p>That's right. You can test drive  these products for a <strong>full  90 days</strong> after your Download to check out  this product to see if it are for you. </p>
          <p> Read it. Absorb. Apply it to your  existing business. Observe the results. <br />
          </p>
        <p>If for any reason at all, you're not  satisfied with this product whatsoever, just contact me, let me know why. After all, I am here for you! </p>
      <strong>YOU  CANNOT LOSE.</strong></td>
    </tr>
  </table>
  <p align="center" class="style1"><strong>Download A Copy Of &quot;The 21st Century Home Business Shift&quot; For FREE</strong> <br />
  </p>
  



<!-- AWeber Web Form Generator 3.0.1 -->
<style type="text/css">
#af-form-2127183081 .af-body .af-textWrap{width:98%;display:block;float:none;}
#af-form-2127183081 .af-body .privacyPolicy{color:#FFFFFF;font-size:11px;font-family:Verdana, sans-serif;}
#af-form-2127183081 .af-body a{color:#EDA200;text-decoration:underline;font-style:normal;font-weight:normal;}
#af-form-2127183081 .af-body input.text, #af-form-2127183081 .af-body textarea{background-color:#FFFFFF;border-color:#919191;border-width:1px;border-style:solid;color:#000000;text-decoration:none;font-style:normal;font-weight:normal;font-size:12px;font-family:Verdana, sans-serif;}
#af-form-2127183081 .af-body input.text:focus, #af-form-2127183081 .af-body textarea:focus{background-color:#FFFAD6;border-color:#030303;border-width:1px;border-style:solid;}
#af-form-2127183081 .af-body label.previewLabel{display:block;float:none;text-align:left;width:auto;color:#FFFFFF;text-decoration:none;font-style:normal;font-weight:normal;font-size:11px;font-family:Verdana, sans-serif;}
#af-form-2127183081 .af-body{padding-bottom:15px;padding-top:15px;background-repeat:repeat-x;background-position:inherit;background-image:url("//forms.aweber.com/images/forms/download/peel/body.png");color:#FFFFFF;font-size:11px;font-family:Verdana, sans-serif;}
#af-form-2127183081 .af-quirksMode{padding-right:10px;padding-left:10px;}
#af-form-2127183081 .af-standards .af-element{padding-right:10px;padding-left:10px;}
#af-form-2127183081 .buttonContainer input.submit{background-image:url("https://forms.aweber.com/images/auto/gradient/button/07c.png");background-position:top left;background-repeat:repeat-x;background-color:#0057ac;border:1px solid #0057ac;color:#FFFFFF;text-decoration:none;font-style:normal;font-weight:normal;font-size:14px;font-family:Verdana, sans-serif;}
#af-form-2127183081 .buttonContainer input.submit{width:auto;}
#af-form-2127183081 .buttonContainer{text-align:left;}
#af-form-2127183081 button,#af-form-2127183081 input,#af-form-2127183081 submit,#af-form-2127183081 textarea,#af-form-2127183081 select,#af-form-2127183081 label,#af-form-2127183081 optgroup,#af-form-2127183081 option{float:none;position:static;margin:0;}
#af-form-2127183081 div{margin:0;}
#af-form-2127183081 form,#af-form-2127183081 textarea,.af-form-wrapper,.af-form-close-button,#af-form-2127183081 img{float:none;color:inherit;position:static;background-color:none;border:none;margin:0;padding:0;}
#af-form-2127183081 input,#af-form-2127183081 button,#af-form-2127183081 textarea,#af-form-2127183081 select{font-size:100%;}
#af-form-2127183081 select,#af-form-2127183081 label,#af-form-2127183081 optgroup,#af-form-2127183081 option{padding:0;}
#af-form-2127183081,#af-form-2127183081 .quirksMode{width:100%;max-width:370.54546px;}
#af-form-2127183081.af-quirksMode{overflow-x:hidden;}
#af-form-2127183081{background-color:transparent;border-color:transparent;border-width:3px;border-style:solid;}
#af-form-2127183081{display:block;}
#af-form-2127183081{overflow:hidden;}
.af-body .af-textWrap{text-align:left;}
.af-body input.image{border:none!important;}
.af-body input.submit,.af-body input.image,.af-form .af-element input.button{float:none!important;}
.af-body input.text{width:100%;float:none;padding:2px!important;}
.af-body.af-standards input.submit{padding:4px 12px;}
.af-clear{clear:both;}
.af-element label{text-align:left;display:block;float:left;}
.af-element{padding-bottom:5px;padding-top:5px;}
.af-form-wrapper{text-indent:0;}
.af-form{text-align:left;margin:auto;}
.af-quirksMode .af-element{padding-left:0!important;padding-right:0!important;}
.lbl-right .af-element label{text-align:right;}
body {
}
</style>
<form method="post" class="af-form-wrapper" accept-charset="UTF-8" action="https://www.aweber.com/scripts/addlead.pl"  >
<div style="display: none;">
<input type="hidden" name="meta_web_form_id" value="2127183081" />
<input type="hidden" name="meta_split_id" value="" />
<input type="hidden" name="listname" value="awlist4192024" />
<input type="hidden" name="redirect" value="http://www.soloshoppers.ca/thankyou" id="redirect_a4db60c50b099b1f0f895cdb0a0dcdbf" />

<input type="hidden" name="meta_adtracking" value="My_Web_Form" />
<input type="hidden" name="meta_message" value="1" />
<input type="hidden" name="meta_required" value="name,email" />

<input type="hidden" name="meta_tooltip" value="" />
</div>
<div id="af-form-2127183081" class="af-form"><div id="af-body-2127183081" class="af-body af-standards">
<div class="af-element" style="text-align: left;">
<img src="https://hostedimages-cdn.aweber-static.com/MTAyNjM3OA==/original/730b331d19084977ab9f37aeddad617f.png" alt="new-logo.png" style="max-width:100%;" />
<div class="af-clear"></div>
</div>
<div class="af-element">
<label class="previewLabel" for="awf_field-80522347">Name: </label>
<div class="af-textWrap">
<input id="awf_field-80522347" type="text" name="name" class="text" value=""  onfocus=" if (this.value == '') { this.value = ''; }" onblur="if (this.value == '') { this.value='';} " tabindex="500" />
</div>
<div class="af-clear"></div></div>
<div class="af-element">
<label class="previewLabel" for="awf_field-80522348">Email: </label>
<div class="af-textWrap"><input class="text" id="awf_field-80522348" type="text" name="email" value="" tabindex="501" onfocus=" if (this.value == '') { this.value = ''; }" onblur="if (this.value == '') { this.value='';} " />
</div><div class="af-clear"></div>
</div>
<div class="af-element buttonContainer">
<input name="submit" class="submit" type="submit" value="Download Now" tabindex="502" />
<div class="af-clear"></div>
</div>
<div class="af-element privacyPolicy" style="text-align: center"><p>We respect your <a title="Privacy Policy" href="https://www.aweber.com/permission.htm" target="_blank" rel="nofollow">email privacy</a></p>
<div class="af-clear"></div>
</div>
<div class="af-element poweredBy" style="text-align: center; font-size: 9px;"><p><a href="https://www.aweber.com" title="AWeber Email Marketing" target="_blank" rel="nofollow">Powered by AWeber Email Marketing</a></p>
<div class="af-clear"></div>
</div>
</div>
</div>
<div style="display: none;"><img src="https://forms.aweber.com/form/displays.htm?id=TIxM7IwczAwcjA==" alt="" /></div>
</form>
<script type="text/javascript">
    <!--
    (function() {
        var IE = /*@cc_on!@*/false;
        if (!IE) { return; }
        if (document.compatMode && document.compatMode == 'BackCompat') {
            if (document.getElementById("af-form-2127183081")) {
                document.getElementById("af-form-2127183081").className = 'af-form af-quirksMode';
            }
            if (document.getElementById("af-body-2127183081")) {
                document.getElementById("af-body-2127183081").className = "af-body inline af-quirksMode";
            }
            if (document.getElementById("af-header-2127183081")) {
                document.getElementById("af-header-2127183081").className = "af-header af-quirksMode";
            }
            if (document.getElementById("af-footer-2127183081")) {
                document.getElementById("af-footer-2127183081").className = "af-footer af-quirksMode";
            }
        }
    })();
    -->
</script>

<!-- /AWeber Web Form Generator 3.0.1 -->






  <p class="style1"><strong>Warm  Regards,</strong></p>
  <p>Solo Shoppers Team!</p>
  <p class="style1">If you are still sitting on the fence, don&#39;t worry about a single 
    thing. All you need to do is TAKE ACTION - don&#39;t sit around and wonder 
    WHAT IF… just give it a try, after all, you are backed by our 
    GUARANTEE so the risk is ALL ON US!</p>
  <p class="style1"><strong>P.S.</strong> Remember, for free, you can 
    immediately make 10-15 times the sum of your investment… so don’t 
    hesitate and grab a copy right away!</p>
  <p class="style1"><strong>P.P.S</strong>&nbsp; Today&#39;s network marketing is no 
    longer the same in the past. If you do not arm yourselves with the 
    right tools to expand your home business, you will not be able to rise 
    to the top of network marketing so make sure you grab this package 
    before your competitors do. </p>
</div>